@font-face {
    font-family: "Pokemon Classic";
    src: url("../files/fonts/Pokemon Classic.ttf") format("truetype");
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pokemon Classic", sans-serif;
    background-image: url("../files/img/pokemon-wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    height: 150px;
    background-color: transparent !important;
    padding: 0;
    position: relative;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand img {
    /* max-width: 200px; */
    height: auto;
    margin-top: 100px;
}

.btn-secondary {
    background-color: transparent !important;
    border-color: transparent !important;
    color: black;
    margin-left: 10px;
    
}

.btn-secondary:hover {
    color: black !important;
}
.mb-4 {
    margin-top: 100px;
}
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    animation: slideInDown 0.5s ease;
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.modal-content {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    overflow: auto;
}

.modal-header {
    background-color: #e13009;
    color: white;
    border: 2px solid #c0392b;
    text-align: center;
}

.modal-title {
    text-align: center;
    margin: 0 auto;
    display: table;
}

.modal-body {
    background-color: #f2f2f2;
    text-align: center;
}

.list-group {
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
    margin: 10px 0;
    text-align: center;
    padding: 0;
}

.list-group-item button {
    background-color: #e13009;
    color: white;
    font-size: 1em;
    border: none;
    cursor: pointer;
    width: 70%;
    height: 70px;
    margin: 5px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition:
        background-color 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
    animation: buttonSlideIn 0.5s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes buttonSlideIn {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.list-group-item button:hover {
    background-color: #c0392b;
    transform: scale(1.1);
}

.list-group-item button:active {
    background-color: #d6b11e !important;
}
.list-group-item button:focus {
    background-color: #d6b11e !important;
}

.modal-footer .btn-close {
    background-color: #e13009;
    color: white;
    border: none;
}

.modal-footer .btn-close:hover {
    background-color: #c0392b;
}

#loader-element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pokemon {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.pokemon::before,
.pokemon::after {
    content: "";
    position: absolute;
    background: black;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.pages {
    display: flex;
    justify-content: center;
    list-style-type: none; /* Remove default list bullet points */
    padding: 0;
    margin-top: 40px; /* Add margin at the top of the pagination */
    flex-wrap: wrap; /* Allow pagination items to wrap */
    gap: 10px; /* Provide consistent gap between items */
}

.pages li {
    cursor: pointer; /* Add pointer cursor on hover */
}

.pages li.active-page {
    position: relative; /* Relative positioning to contain the pseudo-element */
    color: white; /* Change the text color for better visibility */
}
.pages li.active-page::after {
    content: ""; /* Necessary for a pseudo-element */
    position: absolute; /* Absolute positioning relative to its parent */
    left: 0; /* Align with the left side of the parent */
    right: 0; /* Align with the right side of the parent */
    bottom: -10px; /* Position below the item */
    height: 2px; /* Line height */
    background-color: #e13009; /* Line color */
}

.pages li.current-page {
    border-bottom: 2px solid #e13009;
}

.pages li.dots,
.pages .previous,
.pages .next {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 5px;
}

#previousPage,
#nextPage {
    outline: none;
}

.text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-bottom: 20px;
    opacity: 0.5;
}

#nextPage:focus,
#nextPage:active,
#previousPage:focus,
#previousPage:active {
    outline: none !important;
    /* Add any other styles you want to apply when the button is in focus */
}
@media (min-width: 2300px) {
    body {
        background-size: 100% 100%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: auto;
        margin-bottom: 50px !important;
    }

    .navbar-brand img {
        max-width: 250px;
        padding-top: 20px;

    }
    .pages {
        gap: 5px; /* Smaller gap for smaller screens */
    }

    .pages li {
        font-size: 14px; /* Smaller font size for pagination items on smaller screens */
    }

    .pages li.active-page::after {
        bottom: -5px; /* Adjust position for smaller screen */
    }
    .mb-4 {
        margin-top: 150px;
    }
}
